/.github
/bin
/coverage
/demos
/dist
/temp
/etc
/figures
/node_modules
/output
/specs
/.vscode
.eslintcache
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.c8rc.json
.prettierignore
.prettierrc.json
api-extractor.jsonc
generateThirdParty.js
ThirdParty.json
ThirdParty.extra.json
tsconfig.json
*.tgz
