/.github
/.nyc_output
/bin
/coverage
/demos
/dist
/etc
/figures
/node_modules
/output
/specs
.eslintcache
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.nycrc
.prettierignore
.prettierrc.json
api-extractor.jsonc
generateThirdParty.js
ThirdParty.json
tsconfig.json
*.tgz
